/* Global Resets */

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Unordered List Reset*/

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}


/* Demo Specific */

h1#keyboard-shortcuts-logo {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 100px;
  text-align: center;
  /* Visual */
  color: #333;
  /* Misc */
}



/* Keyboard */


div.keyboard {
  /* Positioning */
  /* Box-model */
  height: 500px;
  margin: 0 auto;
  width: 1170px;
  /* Typography */
  /* Visual */
  background-color: #eceef1;
  /* Misc */
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

div.keyboard li.letter-key {
  /* Positioning */
  /* Box-model */
  height: 45px;
  /* Typography */
  text-align: center;
  /* Visual */
  /* Misc */
}

div.keyboard li.letter-key div.letter {
  padding-top: 15px;
}

/* First Row */

ul#keyboard-first-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-first-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 50px;
  margin-left: 6px;
  padding: 8px 20px 8px 22px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 4px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul#keyboard-first-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-first-row > li:first-child {
  margin-left: 10px;
}

ul#keyboard-first-row > li span.function-key {
  /* Positioning */
  /* Box-model */
  padding-top: 11px;
  padding-left: 28px;
  /* Typography */
  font-size: 10px;
  /* Visual */
  /* Misc */
}

/* Second Row */

ul#keyboard-second-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-second-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 15px;
  margin-left: 5px;
  padding: 8px 20px 8px 20px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 4px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul#keyboard-second-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-second-row > li:first-child {
  margin-left: 10px;
}

ul#keyboard-second-row > li.number-key {
  line-height: 1.8;

}


ul#keyboard-second-row > li.delete-key {
  height: 20px;
  padding-top: 30px;
  text-align: right;
  width: 70px;
  vertical-align: top;
}



/* Third Row */

ul#keyboard-third-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-third-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 15px;
  margin-left: 5px;
  padding: 8px 20px 8px 20px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 4px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul#keyboard-third-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-third-row > li:first-child {
  margin-left: 0;
}

ul#keyboard-third-row > li.tab-key {
  height: 45px;
  margin-left: 10px;
  margin-top: 0;
  text-align: left;
  vertical-align: middle;
  width: 70px;
}

ul#keyboard-third-row > li.tab-key div {
  padding-top: 25px;
}

/* Fourth Row */

ul#keyboard-fourth-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-fourth-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 15px;
  margin-left: 5px;
  padding: 8px 20px 8px 20px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 5px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;


}

ul#keyboard-fourth-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-fourth-row > li:first-child {
  margin-left: 0;
}

ul#keyboard-fourth-row > li.caps-lock {
  margin-left: 10px;
  margin-top: 0;
  padding-top: 38px;
  text-align: left;
  width: 85px;
  vertical-align: middle;
}

ul#keyboard-fourth-row > li#enter-return {
  height: 45px;
  line-height: 2;
  text-align: right;
  width: 95px;
  vertical-align: top;
}

/* Fifth Row */

ul#keyboard-fifth-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-fifth-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 15px;
  margin-left: 5px;
  padding: 8px 20px 8px 20px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 4px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul#keyboard-fifth-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-fifth-row > li:first-child {
  margin-left: 0;
}

ul#keyboard-fifth-row > li.shift-key:nth-child(1) {
  /* Positioning */
  /* Box-model */
  height: 45px;
  margin-left: 10px;
  margin-top: 0;
  width: 130px;
  vertical-align: middle;
  /* Typography */
  text-align: left;
  /* Visual */
  /* Misc */
}

ul#keyboard-fifth-row > li.shift-key:last-child {
  /* Positioning */
  /* Box-model */
  height: 45px;
  margin-top: 0;
  width: 130px;
  vertical-align: middle;
  /* Typography */
  text-align: right;
  /* Visual */
  /* Misc */
}

/* Sixth Row */

ul#keyboard-sixth-row {
  margin: 0 auto;
  list-style: none;
}

ul#keyboard-sixth-row > li {
  /* Positioning */
  display: inline-block;
  /* Box-model */
  margin-top: 15px;
  margin-left: 5px;
  padding: 8px 20px 8px 20px;
  width: 30px;
  /* Typography */
  font-size: 12px;
  font-weight: bold;
  /* Visual */
  background-color: #fff;
  color: #99999b;
  /* Misc */
  cursor: pointer;
  box-shadow: 0 4px #bfbfc2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul#keyboard-sixth-row > li:hover {
  background-color: #fcfcfc;
  box-shadow: 0 3px #bfbfc2,
              inset 0 0 3px #bfbfc2;
  color: #555;
}

ul#keyboard-sixth-row > li:first-child {
  margin-left: 10px;
}

ul#keyboard-sixth-row > li#spacebar {
  height: 40px;
  width: 350px;
}
